 <div style="margin: 2em 0 0 0">
    <button class="btn waves-effect waves-light left btn-flat"><a href="/greeted/" style="color: #000">Back</a>
      <i class="material-icons left">keyboard_backspace</i>
    </button>
    <div style="margin: 2em 0 0 0">
      <button class="btn waves-effect waves-light left btn-flat"><a href="http://localhost:4001/" style="color: #000">Home</a>
        <i class="material-icons left">home</i>
      </button>
      <span style="color: white">.</span>
      <span style="color: white">.</span>
    </div>
  </div>
<div class="card" style="margin: 4.5rem 0 1rem 0;">
    <div class="card-content">
      <div class="row" style="padding: 4%;  border: solid 1px #DCDBDC;margin-top: 5%;">
        <p style="font-size: 30px">Hello, <strong>{{user_name}}</strong> has been greeted <strong>{{counter}}</strong> time(s)</p>
      </div>
    </div>
</div>

