<div class="row" style="padding: 4%;  border: solid 1px #DCDBDC;margin-top: 5%;">

  <p style="font-size: 30px">Hello, <strong>{{user_name}}</strong> has been greeted <strong>{{counter}}</strong> times</p>

</div>

