<h3>List of Names Greeted</h3>
<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    {{#each names}}
    <tr>
      <td>{{name}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>