<h4 class="center" style="margin-top: 5%;">List of Names Greeted</h4>
<table class="highlight" style="    border: solid 1px #DCDBDC;">
  <thead>
    <tr>
      <th style="font-size: 1.4em;">Name</th>
    </tr>
  </thead>

  <tbody>
    {{#each names}}
    <tr>
      <td><a href="/counter/{{name}}">{{name}}</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
